{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<h1 align="center">Notes</h1>
<h4 align="center">(TEMPORARY) For editing: Type the edited note, then click save on the one you want to edit</h4>
<h4 align="center">(TEMPORARY) For deleting: Press the delete button on the note you want to edit</h4>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br/>
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
<ul class="container" id="list">
  {% for note in user.notes %}
    <li class="note-block" style="width: 25% ; background-color: yellow">
      {{note.data}}
    </li>
    <button class="btn btn-primary" onclick="deleteNote({{ note.id }})">Delete</button>
    <button class="btn btn-primary" onclick="saveNote({{ note.id }})">Save</button>
  {% endfor %}
</ul>
<script>
  document.getElementById('noteForm').addEventListener('submit', function(event) {event.preventDefault();})

  var inputText = document.getElementById("note"), items = document.querySelectorAll("#list li"), tab = [], index;

  for(var i = 0; i < items.length; i++){
      tab.push(items[i].innerHTML);
  }

  for(var i = 0; i < items.length; i++){
      items[i].onclick = function(){
       index = tab.indexOf(this.innerHTML);
       console.log(this.innerHTML + " INDEX = " + index);
       inputText.value = this.innerHTML;
      };

  }

  function deleteNote(noteId) {
    fetch("/delete-note", {
      method: "POST",
      body: JSON.stringify({ noteId: noteId }),
      }).then((_res) => {
          window.location.href = "/";
      });
  }

  function saveNote(noteId) {
      var requestData = {
          index: noteId,
          updatedNote: {
              note: document.getElementById('note').value
          }
      };

      $.ajax({
          type: 'POST',
          url: '/save-note',
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify(requestData),
          success: function(response) {
              console.log(response.message);
              window.location.href = "/";
          },
          error: function(xhr, status, error) {
              console.error('Error:', error);
          }
      });
  }
</script>
{% endblock %}